<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            Users manual
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>Account creation</h4>

                <p>
                    Before you can shorten some URL, you need to create an account first.
                </p>

                <p>
                    The account is created on the link "Create here" when you want to login.
                </p>

                <p>
                    After the account is created you get signed in immediately.
                </p>

                <p>
                    With your newly created account you can now access the functionality for shortening URLs and look into the statistics.
                </p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <h4>Shorting an URL</h4>

                <p>
                    To short an URL you need to paste it into the input field and click on the "Add" button.
                </p>
                
                <p>
                    The app then checks the input if it's really an URL. If not an error is shown.
                </p>
                
                <p>
                    If the URL is already shortened and error is shown.
                </p>

                <p>
                    If it's ok, then a short URL is created and displayed in a table form.
                </p>

                <p>
                    If for some the app failed to shorten the URL, an error is shown.
                </p>

                <p>
                    The created short URL is clickable and will redirect the user to the original page.
                </p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <h4>Statistics</h4>

                <p>
                    This page shows in a table form how many click have been made upon every shortened URL.
                </p>
            </div>
        </div>
    </div>
</div>